@model Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr/>
    <div class="row">
        <div class="col-sm-8">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Birthdate)
                </dt>
                <dd class="col-sm-9">
                    @Model.Birthdate.ToString("dd.MM.yyyy")
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Phone)
                </dd>
            </dl>
        </div>

        <div class="col-sm-4 text-center">
            <h5>Фото профиля</h5>
            @if (!string.IsNullOrEmpty(Model.PhotoPath))
            {
                <img src="@Model.PhotoPath" alt="Фото студента" class="img-fluid rounded shadow-sm border"
                     style="max-height: 250px; object-fit: cover;"/>
            }
            else
            {
                <div class="bg-light text-muted d-flex align-items-center justify-content-center rounded border mx-auto"
                     style="width: 200px; height: 200px;">
                    <span>Нет фото</span>
                </div>
            }
        </div>
    </div>
</div>
<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>